* {
  font-family: "Inter", sans-serif;
}

body {
  background: #F5F5F5;
}

header {
  padding-top: 64px;
  padding-bottom: 40px;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 40px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  width: fit-content;
}
.title:hover {
  cursor: pointer;
}
.title__subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 48px;
}
.title__subtitle__liked {
  margin-bottom: 32px;
}
.title__liked {
  font-size: 52px;
  line-height: 63px;
}
.title__liked:hover {
  cursor: auto;
}

.back {
  width: fit-content;
  font-size: 16px;
  line-height: 28px;
  color: #3F444A;
  margin-bottom: 48px;
}

form {
  display: flex;
  justify-content: space-between;
}
form .input__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 216px;
  width: 100%;
}
form .name__wrapper {
  max-width: 452px;
  width: 100%;
  margin-right: 20px;
}
form .name__wrapper #name::placeholder {
  color: #ABB5BE;
}
form .schoole__wrapper {
  max-width: 216px;
  width: 100%;
}
form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #818182;
}
form input, form select {
  padding: 8px 17.22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB5BE;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  height: 38px;
}
form select {
  appearance: none;
  background-image: url(../icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

section {
  padding-top: 40px;
}
section .container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 48%);
  gap: 20px;
}
section .container .likedPageBtn {
  position: fixed;
  bottom: 23px;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 157px;
  height: 48px;
  background: #FFF;
  padding: 10px 13px;
  border-radius: 48px;
  color: #3F444A;
}
section .container .likedPageBtn img {
  margin-right: 12px;
}
section .container .likedPageBtn__wrapper {
  position: absolute;
  right: 196px;
}
section .card {
  position: relative;
  color: #152536;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  max-width: 334px;
}
section .card img {
  width: 100%;
  height: 334px;
  object-fit: cover;
  object-position: top;
}
section .card__text {
  padding: 24px;
  background: #FFF;
  font-size: 16px;
  line-height: 28px;
}
section .card .name {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}
section .card .actor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .card .favorite {
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../icons/heart_empty.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
section .card .favorite:hover {
  cursor: pointer;
}
section .card .favorite__liked:hover {
  cursor: auto;
}
section .card .like {
  background-image: url("../icons/heart.svg") !important;
}

hr {
  height: 1px;
  background: #D4D3D8;
  border: none;
  margin: 0;
}

@media (max-width: 576px) {
  .title {
    font-size: 52px;
    line-height: 63px;
  }
  .title__subtitle {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  form {
    flex-wrap: wrap;
  }
  form .name__wrapper {
    margin-right: 0;
    margin-bottom: 15px;
    max-width: unset;
  }
  form .school__wrapper {
    max-width: unset;
  }
  section .container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
